.ui.menu {
    border-radius: 0;
}


.ui.dimmer {
    display: flex !important;
  }
  
  .ui.modal {
    margin-top: 0;
  }

  .blurring.dimmed.dimmable > :not(.dimmer) {
    -webkit-filter: blur(3px) grayscale(.6);
    filter: blur(3px) grayscale(.6);
  }